#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-navbar ul li {
#main-navbar ul li a {
  display: block;
  text-decoration: none;
}

}
#sidebar {
  height: 100%;
  width: 20%;
}

#sidebar ul {
  list-style-type: none;
  text-align: center;
}

#sidebar ul li a:hover {
  background-color: #000;
}